<div class="col-md-3">
    <div class="nav flex-column nav-pills bg-light shadow-sm p-3 mb-5 bg-body rounded" aria-orientation="vertical">
        <a href="{% url 'dashboard' %}" class="nav-link text-dark {% if request.path == '/dashboard/' %}active bg-danger{% endif %}">Dashboard</a>
        {% if perms.auth.view_user %}
        <a href="{% url 'users' %}" class="nav-link text-dark {% if '/users/' in request.path %}active bg-danger{% endif %}">Users</a>
        {% endif %}
        
        <a href="{% url 'categories' %}" class="nav-link text-dark {% if '/categories/' in request.path %}active bg-danger{% endif %}">Categories</a>
      <a href="{% url 'posts' %}" class="nav-link text-dark {% if '/post' in request.path %}active bg-danger{% endif %}">Posts</a>
        
    </div>
</div>